header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-amarilloPrincipal;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  cursor: default;

  h1 {
    color: $color-fondoBlanco;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }

  a {
    color: #000;
    font-size: 1.1rem;
  }
}